@model Lesson

@{
    ViewData["Title"] = "Create";
}

<h1>Create New Lesson</h1>

<h4>Lesson</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateLesson">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VideoURL" class="control-label"></label>
                <input asp-for="VideoURL" class="form-control" />
                <span asp-validation-for="VideoURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LessonContent" class="control-label"></label>
                <input asp-for="LessonContent" class="form-control" />
                <span asp-validation-for="LessonContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuizID" class="control-label"></label>
                <input asp-for="QuizID" class="form-control" />
                <span asp-validation-for="QuizID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  asp-for="CourseID" class="control-label"></label>
                <!-- If CourseID is already provided as an integer, create a hidden input -->
                <input type="hidden" asp-for="CourseID" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
